.notebook {
    width: 400px;
    border: 1px solid #4a87f7;
    margin: 0 auto;
}

.notebook-title {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.note-form {
    padding: 30px;
    font-weight: bold;
    font-size: 18px;
}

.note-form input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #4a87f7;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 2px;
}

.note-form input[type="submit"],
.note-dell input[type="submit"] {
    background-color: #4a87f7;
    color: white;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.note-form input[type="submit"] {
    margin: 0 auto;
    display: block;
}

.note-dell input[type="submit"] {
    float: right;
}

.note:last-child {
    border-bottom: none;
}

.notes ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.notes li.note_list {
    width: 350px;
    font-size: 18px;
    font-weight: bold;
    list-style-type: '👉';
    padding-inline-start: 1ch;
    white-space: normal;
    word-wrap: break-word;
    margin: 2px 20px;
    padding: 10px;
    border-bottom: 1px solid #4a87f7;
}