.notebook {
    width: 70%;
    border: 1px solid #4a87f7;
    margin: 0 auto;
}

.notebook-title {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.note-form {
    padding: 10px;
    margin: 0 auto;
}

.note-form input[type="text"],
.note-form #id_reminder {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #4a87f7;
}

.note-form textarea {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #4a87f7;
    resize: none;
}

.note-form #id_category {
    border: 1px solid #4a87f7;
    width: 20%;
    padding: 8px 10px;
}


.note-form input[type="submit"],
.note-dell input[type="submit"] {
    background-color: #4a87f7;
    color: white;
    padding: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.note-form input[type="submit"] {
    padding: 10px;
    margin: 0 auto;
    display: block;

}

.note-dell input[type="submit"] {
    float: right;
}

.note-footer {
    border-top: 1px solid #4a87f7;
}

.time {
    font-size: 14px;
    color: #95bfff;
    padding-left: 30px
}


button a {
    text-decoration: none;
}

.note_content {
    border-bottom: 1px solid #4a87f7;
    font-size: 25px;
    word-wrap: normal;
    overflow-wrap: normal;
    width: 95%;
}
.note_text {
    font-size: 20px;
}

.main-button,
.update-button,
.delete-button {
    float: right;
    outline: none;
    border: 0;
    background: transparent;
    font-size: 15px;
}

.main-button {
    font-size: 30px;
    color: #4a87f7;
}







