<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Vlad</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_vlad.css' %}">
</head>
<body>

<div style="height: 300px; width: 300px; border: 2px solid black;">
    <h2>Блокнот с заметками</h2>
    <form action="/submit-form/">
        <input type="text" id="note-input" placeholder="Добавить заметку">
        <button type="submit">Добавить</button>
    </form>
    <ul id="note-list">
        <!-- Здесь будут отображаться добавленные пункты -->
    </ul>
</div>


</body>
</html>