<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Vlad</title>
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_vlad.css' %}">-->
</head>
<body>
<div class="notebook">
    <div class="notebook-title">Блокнот</div>
    <form action="{% url 'delete_all' %}" method="post" class="note-dell">
        {% csrf_token %}
        <input type="hidden" name="confirm" value="yes">
        <input type="submit" value="Удалить все">
    </form>
    <form method="post" class="note-form" action="#">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Отправить">
    </form>
    <div class="note-footer">
        <form method="GET" action="{% url 'search_notes' %}" class="search">
            <input type="text" name="q" placeholder="Поиск заметок..." class="holder-search">
            <input type="submit" value="Поиск" class="input-search">
        </form>
        <form method="get">
            <select name="category" class="select_filter" onchange="this.form.submit()">
                <option value="">Все</option>
                {% for category in categories %}
                <option value="{{ category.title }}" {% if category.title == request.GET.category %}selected{% endif %}>
                    {{ category.title }}
                </option>
                {% endfor %}
            </select>
        </form>
        <div class="notes">
            {% if notes %}
            <ul>
                {% for note in notes %}
                <p class='time'>{{ note.time_add|date:'d-m-Y H:i' }}</p>
                <p class='reminder'> {% if note.reminder %} Напоминание: {{ note.reminder|date:'d-m-Y H:m' }}
                    {%endif%}</p>
                <li class='note_content'>{{ note.content }}
                    <button id="main-button-{{ note.id }}" class='main-button'>&equiv;</button>
                    <button class='update-button' id="button-1-{{ note.id }}" style="display: none;">
                        <a href="{% url 'update_item' note.id %}" class='button'>Изменить</a>
                    </button>
                    <button class='delete-button' id="button-2-{{ note.id }}" style="display: none;">
                        <a href="{% url 'delete_item' note.id %}"
                           onclick="return confirm('Вы уверены, что хотите удалить этот элемент?');"
                           class='button'>Удалить</a>
                    </button>

                    <script>
                        document.getElementById("main-button-{{ note.id }}").addEventListener("click", function () {
                            document.getElementById("main-button-{{ note.id }}").style.display = "none";
                            document.getElementById("button-1-{{ note.id }}").style.display = "block";
                            document.getElementById("button-2-{{ note.id }}").style.display = "block";
                        });
                    </script>

                    <p class="note_text">{{ note.text }}</p>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="no_notes">Заметок нет.</p>
            {% endif %}
        </div>

        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="page">&#11160</a>
            {% endif %}

            <span class="current">
                страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="page">&#11162</a>
            {% endif %}
        </span>
        </div>
    </div>
</div>
</body>
</html>