<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Vlad</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_vlad.css' %}">
</head>
<body>
<div class="notebook">
    <div class="notebook-title">Блокнот</div>
    <form class="note-form">
        <input type="text" placeholder="Введите заметку...">
        <input type="submit" value="Добавить">
    </form>
    <div class="notes">
        <ol>
            <li class="note">Также можно указать тип нумерации элементов списка с помощью атрибута type. Например, чтобы создать список с буквенной </li>
            <li class="note">Существует множество типов нумерации, которые можно использовать</li>
        </ol>

    </div>
</div>
</body>
</html>