asgiref==3.6.0
attrs==22.2.0
beautifulsoup4==4.11.1
bs4==0.0.1
cachetools==5.2.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
coverage==7.0.1
dill==0.3.6
distlib==0.3.6
Django==2.2
et-xmlfile==1.1.0
exceptiongroup==1.1.0
fake-useragent==1.1.1
filelock==3.8.2
Flask==2.2.2
hypothesis==6.61.0
idna==3.4
importlab==0.8
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.2
MarkupSafe==2.1.1
mock==4.0.3
mpire==2.6.0
multiprocess==0.70.14
mypy==0.991
mypy-extensions==0.4.3
networkx==2.8.8
nose2==0.12.0
notes==0.3.0
numpy==1.24.0
openai==0.25.0
openpyxl==3.0.10
packaging==22.0
pandas==1.5.2
pandas-stubs==1.5.2.221213
Pillow==9.3.0
platformdirs==2.6.0
pluggy==1.0.0
Pygments==2.14.0
pyproject_api==1.2.1
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyTelegramBotAPI==4.8.0
pytest==7.2.0
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.7
pywin32==305
requests==2.28.1
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
tomli==2.0.1
tox==4.0.16
tqdm==4.64.1
types-pytz==2022.7.0.0
types-requests==2.28.11.7
types-setuptools==65.6.0.2
types-urllib3==1.26.25.4
typing_extensions==4.4.0
tzdata==2022.7
urllib3==1.26.13
virtualenv==20.17.1
Werkzeug==2.2.2
